body{
    text-align: center;
    
}
.box{
    
    height: 110px;
    width: 500px;
    border: 2px solid black;
    text-align: center;
    margin: auto;
}
.bt{
    border-radius: 25px;
    background-color: azure;
}